{"installed":{"client_id":"input_your_client_id","project_id":"input_your_project_id","auth_uri":"input_your_auth_uri","token_uri":"input_your_token_uri","auth_provider_x509_cert_url":"input_your_auth_provider_x509_cert_url","client_secret":"input_your_client_secret","redirect_uris":["http://localhost"]}}